<%- include('../layout/header.ejs') -%>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <%if(cartExist && cartExist.products && cartExist.products.length> 0){%>l

            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <table class="table table-cart table-mobile">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>
                                                <div class="d-flex justify-content-center a ">Quantity</div>
                                            </th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="OrderedItems">
                                        <%cartExist.products.forEach((n)=>{%>
                                            <tr>
                                                <td class="product-col">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="#">
                                                                <img src="/uploads/<%=n.image %>" alt="Product image">
                                                            </a>
                                                        </figure>

                                                        <h3 class="product-title">
                                                            <a href="#">
                                                                <%=n.name%>
                                                            </a>
                                                        </h3><!-- End .product-title -->
                                                    </div><!-- End .product -->
                                                </td>
                                                <td class="price-col">₹<%=n.productid.offerprice%>
                                                </td>

                                                <td>
                                                    <div class="d-flex justify-content-center ">
                                                        <button onclick="decrementValue('<%=n.productid._id%>')"
                                                            class="styled-button">-</button>
                                                        <input type="text" id="qty<%=n.productid._id%>" readonly
                                                            value="<%= n.quantity%>" class="styled-input">
                                                        <button
                                                            onclick="incrementValue('<%=n.productid._id%>', '<%=n.productid.pquantity%>')"
                                                            class="styled-button">+</button>
                                                    </div>
                                                </td>



                                                <td class="total-col" id="pTotal<%=n.productid%>">₹<%=n.totalprice%>
                                                </td>
                                                <td class="remove-col"><button
                                                        onclick="deleteProduct('<%=n.productid._id%>')"
                                                        class="btn-remove"><i class="icon-close"></i></button></td>
                                            </tr>
                                            <%})%>
                                    </tbody>

                                </table><!-- End .table table-wishlist -->

                               
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary summary-cart">
                                    <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                    <table class="table table-summary" id="CartBill">
                                        <tbody>
                                            <!-- <tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td>$160.00</td>
	                						</tr>End .summary-subtotal -->
                                            <tr class="summary-shipping">
                                                <td>Shoe Planet Billing:</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <%cartExist.products.forEach((n)=>{%>
                                                <tr class="summary-shipping-row">
                                                    <td>
                                                        <div>
                                                            <!-- <input type="radio" id="free-shipping" name="shipping" class="custom-control-input"> -->
                                                            <label for="product-name">
                                                                <%=n.name%>
                                                            </label>
                                                        </div><!-- End .custom-control -->
                                                    </td>
                                                    <td id="Righttotalprice<%=n.productid%>">
                                                        <%=n.totalprice%>
                                                    </td>
                                                </tr><!-- End .summary-shipping-row -->

                                                <%})%>

                                                 <hr>
                                                 <%if(cartExist.deliveryCharge==0){%>
                                                    <tr class="delivery-charge">
                                                        <td>Delivery Charge:</td>
                                                        <td id="Delivery-charge" class="text-success">Free Delivery
                                                        </td>
                                                    </tr><!-- End .summary-total -->
                                                <%}else{%>
                                                    <tr class="delivery-charge">
                                                        <td>Delivery Charge:</td>
                                                        <td id="Delivery-charge">₹<%=cartExist.deliveryCharge%>
                                                        </td>
                                                    </tr><!-- End .summary-total -->

                                                    <%}%>

                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td id="grandtotal">₹<%=cartExist.grandTotal%>
                                                        </td>
                                                    </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->



                                    <a href="/Checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                        CHECKOUT</a>
                                </div><!-- End .summary -->

                                <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
                                        SHOPPING</span><i class="icon-refresh"></i></a>



                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
            <%}else{%>
                <div class="container-fluid text-center p-5">
                    <div class="container">
                        <div class="alert alert-white fs-3">Cart is empty</div>
                        <a href="/"><div class="btn btn-primary">back to home</div></a>
                    </div>


                </div>

                <%}%>

    </main><!-- End .main -->



    <script>
        //  <!-- -----------------quantity change from cart update other data------ -->
        async function quantityUpdate(Pid) {
            try {
                console.log("Input triggered");
                console.log(Pid);

                const ProductQuantity = document.getElementById(`qty${Pid}`).value;

                // Make a fetch request using Axios
                console.log(ProductQuantity);
                const response = await axios.post(`/quantityUpdate/${Pid}`, {
                    ProductQuantity
                }).then(() => {
                    $('#OrderedItems').load('/cart #OrderedItems > *')
                    $('#CartBill').load('/cart #CartBill > *')
                })
                Total;

                // Do something with the response data
                console.log(response.data);
                // window.location.reload()
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }
    </script>

    <script>
        async function deleteProduct(Pid) {
            try {
                // Show a confirmation dialog using SweetAlert2
                const result = await Swal.fire({
                    title: 'Delete Product',
                    text: 'Are you sure you want to delete this product?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete',
                    cancelButtonText: 'Cancel'
                });

                if (result.isConfirmed) {
                    // User clicked "Yes, delete"
                    const response = await axios.get(`/deleteProduct/${Pid}`);
                     if (response.data.success || response.data.arrlen) {
                        // Display success message
                    Swal.fire({
                        title: 'Product Deleted',
                        icon: 'success'
                    }).then(()=>{
                        window.location.reload()
                    })
                     }
                     else
                     {
                         // User clicked "Cancel" or closed the dialog
                    Swal.fire({
                        title: 'Operation Failed',
                        icon: 'error'
                    });
                     }
                    

                    // Do something with the response data
                    console.log(response.data);
                } else {
                    // User clicked "Cancel" or closed the dialog
                    Swal.fire({
                        title: 'Operation Cancelled',
                        icon: 'info'
                    });
                }
            } catch (error) {
                Swal.fire({
                    title: 'Failed to Delete Product',
                    icon: 'error'
                });
                console.error('Error fetching data:', error);
            }
        }
    </script>



    <!-- increment and decrement the value of  quantity-------------- -->
    <script>
        function incrementValue(Pid, maxQty) {

            var inputElement = document.getElementById(`qty${Pid}`);
            var currentValue = parseInt(inputElement.value);

            // Check if the current value is less than the maximum allowed quantity
            if (currentValue < maxQty) {
                inputElement.value = currentValue + 1;
                quantityUpdate(Pid);
            } else {
                // Show SweetAlert if the quantity exceeds the maximum
                Swal.fire({
                    icon: 'error',
                    title: 'No Stock Available',
                    text: 'There is no stock available.',
                });
            }
        }

        function decrementValue(Pid) {

            var inputElement = document.getElementById(`qty${Pid}`);
            var currentValue = parseInt(inputElement.value);

            // Decrement only if the current value is greater than 1 (ensuring it never goes to 0)
            if (currentValue > 1) {
                inputElement.value = currentValue - 1;
                quantityUpdate(Pid);
            }
        }
    </script>



    <%- include('../layout/footer.ejs') -%>