<%- include('../layout/header.ejs') -%>

    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>

                <nav class="product-pager ml-auto" aria-label="Product">
                    <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                        <i class="icon-angle-left"></i>
                        <span>Prev</span>
                    </a>

                    <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                        <span>Next</span>
                        <i class="icon-angle-right"></i>
                    </a>
                </nav><!-- End .pager-nav -->
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <figure class="product-main-image">
                                        <img id="product-zoom"
                                            src="/uploads/<%=OneProduct.productImages[0].resizedFile%>"
                                            data-zoom-image="/uploads/<%=OneProduct.productImages[0].resizedFile%>"
                                            alt="product image">

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure><!-- End .product-main-image -->

                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                        <%for(let i=0 ; i< OneProduct.productImages.length ;i++){%>
                                            <a class="product-gallery-item active" href="#"
                                                data-image="/uploads/<%=OneProduct.productImages[i].resizedFile%>"
                                                data-zoom-image="/uploads/<%=OneProduct.productImages[i].resizedFile%>">
                                                <img src="/uploads/<%=OneProduct.productImages[i].resizedFile%>"
                                                    alt="product side">
                                            </a>
                                            <%}%>

                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .row -->
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details">
                                <h1 class="product-title">
                                    <%=OneProduct.pname%>
                                </h1><!-- End .product-title -->

                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews
                                        )</a>
                                </div><!-- End .rating-container -->

                                <div class="product-price">
                                    <a href=""><span class="new-price">Now ₹<%=OneProduct.offerprice%></span>
                                        <span class="old-price">₹<%=OneProduct.pprice%></span>
                                    </a>

                                </div><!-- End .product-price -->

                                <div class="product-content">
                                    <p>
                                        <%=OneProduct.pgender%>
                                            <%=OneProduct.pdescription%>
                                    </p>
                                </div><!-- End .product-content -->

                                <div class="details-filter-row details-row-size">
                                    <label>Color:</label>

                                    <div class="product-nav product-nav-thumbs">
                                        <%=OneProduct.pcolor%>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .details-filter-row -->

                                <div class="details-filter-row details-row-size">
                                    <label for="size">Size:</label>
                                    <div class="select-custom">
                                        <!-- <select name="size" id="size" class="form-control">
                                                <option value="#" selected="selected">Select a size</option>
                                                <option value="s">Small</option>
                                                <option value="m">Medium</option>
                                                <option value="l">Large</option>
                                                <option value="xl">Extra Large</option>
                                            </select> -->
                                        <label for="">
                                            <%=OneProduct.psize%>
                                        </label>
                                    </div><!-- End .select-custom -->

                                    <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a>
                                </div><!-- End .details-filter-row -->

                                <div class="details-filter-row details-row-size">
                                    <label for="qty">Qty:</label>
                                    <div class="divbt">
                                        <button onclick="decrementValue()" style="padding: 5px 10px; font-size: 16px;"
                                            class="styled-button">-</button>
                                        <input type="text" id="qty" disabled
                                            value="<%=OneProduct.pquantity > 0 ? 1:0 %>"
                                            style="width: 30px; text-align: center; padding: 5px; font-size: 16px;">
                                        <button onclick="incrementValue('<%=OneProduct.pquantity%>')"
                                            style="padding: 5px 10px; font-size: 16px;" class="styled-button">+</button>
                                    </div>
                                </div><!-- End .details-filter-row -->

                                <div class="product-details-action">

                                    <button class="btn-product btn-cart"
                                        onclick="addToCart('<%=OneProduct._id%>')"><span>add to cart</span></button>

                                    <div class="details-action-wrapper">
                                        <button class="btn-product btn-wishlist"
                                            style="border: none; background-color: transparent;"
                                            onclick="addToWishlist('<%=OneProduct._id%>')" title="Wishlist">
                                            <span>Add to Wishlist</span>
                                        </button>
                                    </div><!-- End .details-action-wrapper -->

                                </div><!-- End .details-action-wrapper -->

                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    
                                    <a href="#">
                                        <%=OneProduct.pgender%>
                                    </a>,
                                    <a href="#">
                                        <%=OneProduct.pcategory.Cname%>
                                    </a>,
                                    <a href="#">
                                        <%=OneProduct.pcolor%>
                                    </a>
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                            class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

          
            
        </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->




    <!------------------------------------------------------------------------add to cart  script--------------------------------------------------- -->
    <script>
        async function addToCart(PID) {
            try {
                // Get the product quantity from the input field with id 'qty'
                const ProductQuantity = document.getElementById('qty').value;
                if (ProductQuantity == 0) {
                    // Display success message
                    Swal.fire({
                        title: 'Out of  stock',
                        icon: 'error'
                    })
                }
                else {
                    // Make a fetch request using Axios
                    const response = await axios.post(`/addToCart/${PID}`, {
                        ProductQuantity
                    });

                    if (response.data.stockout == true) {

                        Swal.fire({
                            icon: 'error',
                            title: 'OutoOfStock',
                            message: "The product is out of stoke"

                        })
                    } else if (response.data.success == true) {

                        // Display success message
                        Swal.fire({
                            title: 'Item Added to Cart',
                            icon: 'success'
                        }).then(() => {
                            $('#User-Cart').load('/Product  #User-Cart > *');
                        });
                    } else if (response.data.ExistProduct) {
                        // Display success message
                        Swal.fire({
                            title: 'Item already exist in cart ',
                            icon: 'warning'
                        })
                    }

                }

            } catch (error) {
                Swal.fire({
                    title: 'Failed to Add Item to Cart',
                    icon: 'error'
                });
                console.error('Error fetching data:', error);
            }
        }
    </script>


    <!-- out of stock message------------ -->
    <script>
        document.getElementById('qty').addEventListener('change', function () {
            const enteredQuantity = parseInt(this.value);
            const maxQuantity = parseInt('<%= OneProduct.pquantity %>');

            if (enteredQuantity >= maxQuantity) {
                Swal.fire({
                    icon: 'error',
                    title: 'Out of Stock',
                    text: 'The entered quantity exceeds the available stock.',
                }).then(() => {
                    // Reset the quantity to the maximum allowed
                    this.value = maxQuantity;
                });
            }
        });
    </script>


    <!-- increment and decrement the value of  quantity-------------- -->
    <script>
        function incrementValue(maxQuantity) {
            var inputElement = document.getElementById('qty');
            var currentValue = parseInt(inputElement.value);

            // Check if the current value is less than the maximum allowed quantity
            if (currentValue < maxQuantity) {
                inputElement.value = currentValue + 1;
            } else {
                // Show SweetAlert if the quantity exceeds the maximum
                Swal.fire({
                    icon: 'error',
                    title: 'No Stock Available',
                    text: 'There is no stock available.',
                });
            }
        }

        function decrementValue() {
            var inputElement = document.getElementById('qty');
            var currentValue = parseInt(inputElement.value);

            // Decrement only if the current value is greater than 1 (ensuring it never goes to 0)
            if (currentValue > 1) {
                inputElement.value = currentValue - 1;
            }
        }
    </script>


    <!-- -------------------------------------------------------------Add to wishlist------------------------------------------- -->


    <script>
        async function addToWishlist(PID) {
            try {
                const response = await axios.post(`/addToWishlist/${PID}`);

                Swal.fire({
                    title: 'Item Added to Wishlist',
                    icon: 'success'
                }).then(() => {
                    $('#header-right').load('/product #header-right > *');
                    console.log("wish list success");
                });

                console.log(response.data);

            } catch (error) {
                Swal.fire({
                    title: 'Failed to Add Item to Wishlist',
                    icon: 'error'
                });
                console.error('Error fetching data:', error);
            }
        }
    </script>

    <%- include('../layout/footer.ejs') -%>