<%- include('../layout/header.ejs') -%>

<main class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 border mb-3">
                <div class="p-2">
                    <div class="mt-3" >
                        <h5 class="text-center text-success">Order details</h5>
                    </div>
                    <div class="p-5">
                        <label style="font-weight: 800;">Products</label>
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Image</th>
                            </tr>
                            <% OrderDetails.products.forEach((p) => { %>
                                <tr>
                                    <td><%= p.name %></td>
                                    <td><%= p.quantity %></td>
                                    <td><%= p.price %></td>
                                    <td><img src="/uploads/<%= p.image %>" alt="Product Image" style="width: 50px; height: 50px;"></td>
                                </tr>
                            <% }) %>
                        </table>
                        <div class="card-body border mb-3">
                            <p class="card-text font-weight-bold">Grand Total: <span><%= OrderDetails.total %></span></p>
                            <p class="card-text"><span style="font-weight: 800;">Payment:</span> <%= OrderDetails.payment %></p>
                            <p class="card-text"><span style="font-weight: 800;">Order Status:</span> <%= OrderDetails.status %></p>
                            <p class="card-text"><span style="font-weight: 800;">Paymnet Status:</span> <%= OrderDetails.paymentStatus %></p>
                            <p class="card-text"><span style="font-weight: 800;">Order Placed Date:</span> <%= moment(OrderDetails.date).format('MMMM Do YYYY, h:mm:ss a') %></p>
                            <p class="card-text"><span style="font-weight: 800;">Address:</span> <%= OrderDetails.address.name %><br><%= OrderDetails.address.buildingname %><br><%= OrderDetails.address.mobile %><br><%= OrderDetails.address.street %>, <%= OrderDetails.address.city %><br><%= OrderDetails.address.state %>, <%= OrderDetails.address.pincode %><br></p>
                        </div>
                        <%if(OrderDetails.paymentStatus=='Pending'){%>
                          <div id="retryPaymentBtn" class="btn btn-warning"> Retry Payment</div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.getElementById('retryPaymentBtn').addEventListener('click', retryPayment);

    function retryPayment() {
        axios.post('/retryRazorPayment', {
            orderId: '<%= OrderDetails._id %>'
        })
            .then(response => {
                console.log('response:id:', response.data.order, 'Response data: ', response.data.paymentDetails);
                razorpayRetryPayment(response.data.paymentDetails, response.data.order);
            })
            .catch(error => {
                console.error('Error:', error);

            });
    }
    function razorpayRetryPayment(order, ID) {
        console.log('id::', ID, 'order:>', order,);

        var options = {
            "key": "rzp_test_5MqNo4cRcOTItk",
            "amount": order.amount,
            "currency": "INR",
            "name": "Shopin",
            "description": "Test Transaction",
            "image": "/user/images/shoePlanet.png",
            "order_id": order.order_id,
            "handler": function (response) {
                console.log("response is working");
                // alert(response.razorpay_payment_id);
                // alert(response.razorpay_order_id);
                // alert(response.razorpay_signature)
                if (response.razorpay_payment_id) {
                    verifyPayment(response,ID);

                }
            },
            "prefill": {
                "name": "ShoePlanet PVt Ltd",
                "email": "shahabasmhd@gmail.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "shoeplane Corporate Office"
            },
            "theme": {
                "color": "#F67777"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        rzp1.on('payment.failed', function (response) {

            // alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);


        });

    }

    function verifyPayment(payment,ID) {
        console.log('verifyPayment called');
        $.ajax({
            url: '/retryVerifyPayment',
            method: 'post',
            data: {
                payment,
                ID
            },
            success: (response) => {
                console.log('response came');
                if (response.payment) {


                    Swal.fire({
                        icon: 'success',
                        title: 'Payment Succeeded',
                        text: 'Your payment was successful!',
                        timer: 2000, // Auto close after 2 seconds
                        showConfirmButton: false, // Hide the "OK" button
                    })
                    window.location.reload();
                }
            }

        })
    }



</script>




	<%- include('../layout/footer.ejs') -%>