<%- include('../layout/header.ejs') -%>

	<main class="main">
		<div class="page-header text-center" style="background-image: url('/user/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">We Serve Our Best<span>Shop</span></h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="toolbox">
							<div class="form-inline  ms-2 my-lg-0">
								<input class="form-control mr-sm-2" type="search" id="SearchProduct" placeholder="Search right here" onchange="FilteringProduct()" value="<%=SearchedProduct%>" aria-label="Search">
								<button style="background-color: rgb(12, 54, 131);
								border: 1px solid;
								color: #fff;
								padding: 2px 6px;
								cursor: pointer;
								font-size: 16px;
								border-radius: 5px;">Search</button>
								
								<!-- <button style="background-color: rgb(77, 77, 142);color: white;text-decoration: none;" onclick="FilteringProduct()" type="submit">Search</button> -->
							</div>

							<div class="toolbox-right">
								<div class="toolbox-sort">
									<label for="sortby">Sort by:</label>
									<div class="select-custom">
										<select onchange="FilteringProduct()" name="sortby" id="sortby" class="form-control">
											<option value="null" <%= sortingValue === null ? 'selected' : '' %>>None</option>
											<option value="-1" <%= sortingValue === -1 ? 'selected' : '' %>>High Price</option>
											<option value="1" <%= sortingValue === 1 ? 'selected' : '' %>>Low Price</option>
											
										</select>
									</div>
								</div><!-- End .toolbox-sort -->
								<div class="toolbox-layout">
									<a href="category-list.html" class="btn-layout">
										<svg width="16" height="10">
											<rect x="0" y="0" width="4" height="4" />
											<rect x="6" y="0" width="10" height="4" />
											<rect x="0" y="6" width="4" height="4" />
											<rect x="6" y="6" width="10" height="4" />
										</svg>
									</a>

									<a href="category-2cols.html" class="btn-layout">
										<svg width="10" height="10">
											<rect x="0" y="0" width="4" height="4" />
											<rect x="6" y="0" width="4" height="4" />
											<rect x="0" y="6" width="4" height="4" />
											<rect x="6" y="6" width="4" height="4" />
										</svg>
									</a>

									<a href="category.html" class="btn-layout active">
										<svg width="16" height="10">
											<rect x="0" y="0" width="4" height="4" />
											<rect x="6" y="0" width="4" height="4" />
											<rect x="12" y="0" width="4" height="4" />
											<rect x="0" y="6" width="4" height="4" />
											<rect x="6" y="6" width="4" height="4" />
											<rect x="12" y="6" width="4" height="4" />
										</svg>
									</a>

									<a href="category-4cols.html" class="btn-layout">
										<svg width="22" height="10">
											<rect x="0" y="0" width="4" height="4" />
											<rect x="6" y="0" width="4" height="4" />
											<rect x="12" y="0" width="4" height="4" />
											<rect x="18" y="0" width="4" height="4" />
											<rect x="0" y="6" width="4" height="4" />
											<rect x="6" y="6" width="4" height="4" />
											<rect x="12" y="6" width="4" height="4" />
											<rect x="18" y="6" width="4" height="4" />
										</svg>
									</a>
								</div><!-- End .toolbox-layout -->
							</div><!-- End .toolbox-right -->
						</div><!-- End .toolbox -->

						<div class="products mb-3">
							<div class="row justify-content-center" id="ProducRow">
								<%if(locals.product && product.length != 0){%>
									<%product.forEach((n)=>{%>
										<div class="col-6 col-md-4 col-lg-4">
											<div class="product product-7 text-center">
												<figure class="product-media">
													<!-- <span class="product-label label-new">New</span> -->
													<a href="/Product/<%=n._id%>">
														<img src="/uploads/<%= n.productImages[0].resizedFile%>"
															alt="Product image" class="product-image">
													</a>

													<div class="product-action-vertical">
														<a href="#"
															class="btn-product-icon btn-wishlist btn-expandable"><span>add
																to wishlist</span></a>
														<a href="popup/quickView.html"
															class="btn-product-icon btn-quickview"
															title="Quick view"><span>Quick view</span></a>
														<a href="#" class="btn-product-icon btn-compare"
															title="Compare"><span>Compare</span></a>
													</div><!-- End .product-action-vertical -->

													<div class="product-action">
														<a href="/Product/<%=n._id%>"
															class="btn-product btn-cart"><span>add to cart</span></a>
													</div><!-- End .product-action -->
												</figure><!-- End .product-media -->


												<div class="product-body">

													<div class="product-cat">
														<a href="/Product/<%=n._id%>">
															<%=n.pcategory.Cname%>
														</a>
													</div><!-- End .product-cat -->
													<h3 class="product-title"><a href="/product/<%=n._id%>">
															<%=n.pname%>
														</a></h3><!-- End .product-title -->
													<div class="product-price">
														<a href="/Product/<%=n._id%>"><span class="new-price">Now ₹
																<%=n.offerprice%></span>
															<span class="old-price">₹<%=n.pprice%></span>
														</a>
													</div><!-- End .product-price -->
													<div class="ratings-container">
														<div class="ratings">
															<div class="ratings-val" style="width: 20%;"></div>
															<!-- End .ratings-val -->
														</div><!-- End .ratings -->
														<span class="ratings-text">( 2 Reviews )</span>
													</div><!-- End .rating-container -->


												</div><!-- End .product-body -->

											</div><!-- End .product -->
										</div><!-- End .col-sm-6 col-lg-4 -->
										<%})}else{%>
                                              
											<div class="col-6">
												<div class="card mt-5">
												  <div class="card-body text-center " style="border:1px solid; color: #721c24;">
													<h5 class="card-title p-3">Oops! There is no product found</h5>
													<!-- You can add additional content or styling here -->
												  </div>
												</div>
											  </div>
											<%}%>
							</div><!-- End .row -->
						</div><!-- End .products -->
                     <%if(product.length !=0){%>
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center mt-4">
						  
							  <% if (currentPage > 1) { %>
								<li class="page-item">
								  <a class="page-link" href="/Shopping?page=<%= currentPage - 1 %>" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								  </a>
								</li>
							  <% } else { %>
								<li class="page-item disabled">
								  <span class="page-link" aria-hidden="true">&laquo;</span>
								</li>
							  <% } %>
						  
							  <% for (let page = 1; page <= totalPages; page++) { %>
								<li class="page-item <%= currentPage === page ? 'active' : '' %>">
								  <a class="page-link" href="/Shopping?page=<%= page %>">
									<%= page %>
								  </a>
								</li>
							  <% } %>
						  
							  <% if (currentPage < totalPages) { %>
								<li class="page-item">
								  <a class="page-link" href="/Shopping?page=<%= currentPage + 1 %>" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Next</span>
								  </a>
								</li>
							  <% } else { %>
								<li class="page-item disabled">
								  <span class="page-link" aria-hidden="true">&raquo;</span>
								</li>
							  <% } %>
						  
							</ul>
						  </nav>
						  <%}%>
						  
					</div><!-- End .col-lg-9 -->
					<aside class="col-lg-3 order-lg-first">
						<div class="sidebar sidebar-shop">
							<div class="widget widget-clean">
								<button onclick="FilteringProduct()">Filter</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button onclick="clearFilter()">Clear</button>
							</div><!-- End .widget widget-clean -->

							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
										aria-controls="widget-1">
										Gender
									</a>
								</h3><!-- End .widget-title -->
                              <%if(locals.filter){%>
								<div class="collapse show" id="widget-1">
									<div class="widget-body">
										<div class="filter-items filter-items-count">
											<!-- <div class="filter-item">
												<div class="custom-control custom-radio">
													<input type="radio" value="all" class="custom-control-input" id="gen-1" name="genderFilter">
													<label class="custom-control-label" for="gen-1">All</label>
												</div>
											</div>
								 -->
											<div class="filter-item">
												<div class="custom-control custom-radio">
													<input type="radio" value="Men" class="custom-control-input" id="gen-2" name="genderFilter" <%= filter.pgender === "Men" ? 'checked' : '' %>>
													<label class="custom-control-label" for="gen-2">Men's</label>
												</div>
											</div>
								
											<div class="filter-item">
												<div class="custom-control custom-radio">
													<input type="radio" value="Women" class="custom-control-input" id="gen-3" name="genderFilter" <%= filter.pgender === "Women" ? 'checked' : '' %>>
													<label class="custom-control-label" for="gen-3">Women's</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							
								<div class="widget widget-collapsible">
									<h3 class="widget-title">
										<a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-1">
											Category
										</a>
									</h3><!-- End .widget-title -->
								
									<div class="collapse show" id="widget-2">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="65a4da1aff32cdddddac8134" id="cat-1" name="categoryFilter" <%= filter.pcategory === "65a4da1aff32cdddddac8134" ? 'checked' : '' %>>
														<label class="custom-control-label" for="cat-1">Boots</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
								
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="65a50484527de8c6c0fb870c" id="cat-2" name="categoryFilter" <%= filter.pcategory === "65a50484527de8c6c0fb870c" ? 'checked' : '' %>>
														<label class="custom-control-label" for="cat-2">Casuals</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
								
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="65a4df3b10b1b6aa9387780f" id="cat-3" name="categoryFilter" <%= filter.pcategory === "65a4df3b10b1b6aa9387780f" ? 'checked' : '' %>>
														<label class="custom-control-label" for="cat-3">Sneackers</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
								
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="65a4df6410b1b6aa93877813" id="cat-4" name="categoryFilter" <%= filter.pcategory === "65a4df6410b1b6aa93877813" ? 'checked' : '' %>>
														<label class="custom-control-label" for="cat-4">Formal</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
								
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="65a50531527de8c6c0fb88f1" id="cat-5" name="categoryFilter" <%= filter.pcategory === "65a50531527de8c6c0fb88f1" ? 'checked' : '' %>>
														<label class="custom-control-label" for="cat-5">Sandal</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
								</div><!-- End .widget -->
								
								<div class="widget widget-collapsible">
									<h3 class="widget-title">
										<a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-1">
											Size
										</a>
									</h3><!-- End .widget-title -->
								
									<div class="collapse show" id="widget-3">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="7" id="size-1" name="sizeFilter" <%= filter.psize === "7" ? 'checked' : '' %>>
														<label class="custom-control-label" for="size-1">7</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
								
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="8" id="size-2" name="sizeFilter" <%= filter.psize === "8" ? 'checked' : '' %>>
														<label class="custom-control-label" for="size-2">8</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
								
												<div class="filter-item">
													<div class="custom-control custom-radio">
														<input type="radio" class="custom-control-input" value="9" id="size-3" name="sizeFilter" <%= filter.psize === "9" ? 'checked' : '' %>>
														<label class="custom-control-label" for="size-3">9</label>
													</div><!-- End .custom-radio -->
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
								</div><!-- End .widget -->
								<%}%>

						</div><!-- End .sidebar sidebar-shop -->
					</aside><!-- End .col-lg-3 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->
	<style>
		.error-container {
			border: 2px solid #ff5c5c; /* Border color */
			border-radius: 10px; /* Curved edges */
			padding: 10px; /* Padding inside the container */
			background-color: #ffecec; /* Background color */
			color: #ff0000; /* Text color */
			text-align: center; /* Center the text */
			width: 100%;
		}
	</style>

	<script>

	// clear filter-------------------------------

	function clearFilter() {
		
		window.location.href='/Shopping'
	}
  
	

		

		async function FilteringProduct() {
			    const Gender = document.querySelector('input[name="genderFilter"]:checked');
				const Category = document.querySelector('input[name="categoryFilter"]:checked');
				const Size = document.querySelector('input[name="sizeFilter"]:checked');
				const ProductSorting=document.getElementById("sortby").value
				const SearchProduct=document.getElementById("SearchProduct")
				const genderValue = Gender ? Gender.value : null;
				const categoryValue = Category ? Category.value : null;
				const sizeValue = Size ? Size.value : null;
				const SearchedProduct=SearchProduct ? SearchProduct.value : null;

                 if (ProductSorting!=null || SearchedProduct !=null || genderValue!=null || categoryValue!=null || sizeValue!=null ) {
					window.location.href=(`/Shopping/?Gender=${genderValue}` +
                 `&Category=${categoryValue}` +
                 `&Size=${sizeValue}` +
                 `&ProductSorting=${ProductSorting}` +
                 `&SearchedProduct=${SearchedProduct}`);

				 }
				
					

}

	</script>
	
	

	
	
	<%- include('../layout/footer.ejs') -%>