<%- include('../layout/header.ejs') -%>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row d-flex justify-content-end px-3">
            <div class="mb-3" >
              <a href="/admin/salesReport" class="btn badge-outline-success">Sales Report</a>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Total Revenue</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0"><span>₹</span><%=locals.Revenue%></h2>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                      </div>
                      <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Total Sales</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0"><span>₹</span><%=Sales%></h2>
                        <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p> -->
                      </div>
                      <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Orders</h5>
                  <div class="row">
                    <div class="col-12 ">
                      <div class="row">
                        <div class="col-12">
                          <p class="mb-1 text-info "><span>Total orders: <%= OrderCalculation %></span></p>
                        </div>
                        <div class="col-12">
                          <p class="mb-1 text-success"><span>Delivered orders: <%= DeliveredOrders %></span></p>
                        </div>
                        <div class="col-12">
                          <p class="mb-1 text-warning"><span>Delivery Pendings Orders: <%= DeliveryPendingCount %></span></p>
                        </div>
                        <div class="col-12">
                          <p class="mb-1 text-danger"><span>Other Orders: <%= NonProfitableOrders %></span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Yearly Sales</h4>
                  <canvas id="lineChart" style="height:250px"></canvas>
                </div>
              </div>
            </div>
         
          <div class="col-lg-6 grid-margin stretch-card ">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Monthly Sales</h4>
                <canvas id="barChart" style="height:200px"></canvas>
              </div>
            </div>
          </div>
          </div>
          
          <div class="row d-flex justify-content-between">
            <!-- Best Selling Products -->
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h3 class="mb-3 text-success">Best Selling Products</h3>
                  <% if(locals.FindBestSellingProducts && FindBestSellingProducts.length > 0) { %>
                    <div class="table-responsive">
                      <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th>Product Name</th>
                            <th>Product Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% FindBestSellingProducts.forEach((product, index) => { %>
                            <tr>
                              <td><%= product.pname %></td>
                              <td><%= bestSellingProducts[index].count %></td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  <% } else { %>
                    <p class="mt-3">No best-selling products found.</p>
                  <% } %>
                </div>
              </div>
            </div>
            
          
            <!-- Unique Categories -->
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h3 class="mb-3 text-success">Best Selling Category</h3>
                  <% if(locals.FindBestSellingCategory && FindBestSellingCategory.length > 0) { %>
                    <div class="table-responsive">
                      <table class="table table-dark table-striped">
                        <thead>
                          <tr>
                            <th>category Name</th>
                            <th>category Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% FindBestSellingCategory.forEach((category, index) => { %>
                            <tr>
                              <td><%= category.Cname %></td>
                              <td><%= categoryCounts[index].count %></td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  <% } else { %>
                    <p class="mt-3">No best-selling Category found.</p>
                  <% } %>
                </div>
              </div>
            </div>
            
          
           
<!--           
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card ">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Daily Sales</h4>
                  <canvas id="areaChart" style="height:250px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card ">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title"></h4>
                    <canvas id="pieChart" style="height:250px"></canvas>
                  </div>
                </div>
              </div>
          </div> -->
          
        
 



<!-- Monthly sales------------------------ -->

  <input type="hidden" id="MonthlyChart1"  value="<%=updatedMonthlyValues[0].count%>">
  <input type="hidden" id="MonthlyChart2"  value="<%=updatedMonthlyValues[1].count%>">
  <input type="hidden" id="MonthlyChart3"  value="<%=updatedMonthlyValues[2].count%>">
  <input type="hidden" id="MonthlyChart4"  value="<%=updatedMonthlyValues[3].count%>">
  <input type="hidden" id="MonthlyChart5"  value="<%=updatedMonthlyValues[4].count%>">
  <input type="hidden" id="MonthlyChart6"  value="<%=updatedMonthlyValues[5].count%>">
  <input type="hidden" id="MonthlyChart7"  value="<%=updatedMonthlyValues[6].count%>">
  <input type="hidden" id="MonthlyChart8"  value="<%=updatedMonthlyValues[7].count%>">
  <input type="hidden" id="MonthlyChart9"  value="<%=updatedMonthlyValues[8].count%>">
  <input type="hidden" id="MonthlyChart10"  value="<%=updatedMonthlyValues[9].count%>">
  <input type="hidden" id="MonthlyChart11"  value="<%=updatedMonthlyValues[10].count%>">
  <input type="hidden" id="MonthlyChart12"  value="<%=updatedMonthlyValues[11].count%>">


<!-- Yearly sales------------------------------------------- -->
<input type="hidden" id="YearlyChart1"  value="<%=updatedYearlyValues[0].count%>">
<input type="hidden" id="YearlyChart2"  value="<%=updatedYearlyValues[1].count%>">
<input type="hidden" id="YearlyChart3"  value="<%=updatedYearlyValues[2].count%>">
<input type="hidden" id="YearlyChart4"  value="<%=updatedYearlyValues[3].count%>">

<%- include('../layout/footer.ejs') -%>
